export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_DATA_DIRS="{{ if eq .chezmoi.os "darwin" }}/opt/homebrew/share{{ end }}:/usr/local/share:/usr/share"

if [ -e "${XDG_CONFIG_HOME}/user-dirs.dirs" ]; then
	source "${XDG_CONFIG_HOME}/user-dirs.dirs"

    while IFS='=' read -r name _; do
        case "${name}" in
            ''|\#*) continue ;;
        esac
        export "${name}"
    done < "${XDG_CONFIG_HOME}/user-dirs.dirs"
fi

export MYSQL_HISTFILE="${XDG_CACHE_HOME}/mysql_history"
export PYTHON_HISTORY="${XDG_CACHE_HOME}/python_history"

export GNUPGHOME="${XDG_CONFIG_HOME}/gnupg"
export SCREENRC="${XDG_CONFIG_HOME}/screen/screenrc"

export CARGO_HOME="${XDG_DATA_HOME}/cargo"
export GOPATH="${XDG_DATA_HOME}/go"
export KREW_ROOT="${XDG_DATA_HOME}/krew"
export PLATFORMIO_CORE_DIR="${XDG_DATA_HOME}/platformio"
export RUSTUP_HOME="${XDG_DATA_HOME}/rustup"

export PATH=\
{{ if eq .chezmoi.os "darwin" -}}
"/opt/homebrew/opt/bison/bin:"\
"/opt/homebrew/opt/coreutils/libexec/gnubin:"\
"/opt/homebrew/opt/cpio/bin:"\
"/opt/homebrew/opt/curl/bin:"\
"/opt/homebrew/opt/gnu-tar/libexec/gnubin:"\
"/opt/homebrew/opt/grep/libexec/gnubin:"\
"/opt/homebrew/bin:"\
"/opt/homebrew/sbin:"\
{{ else -}}
"/home/linuxbrew/.linuxbrew/bin:"\
"/home/linuxbrew/.linuxbrew/sbin:"\
{{ end -}}
"${CARGO_HOME}/bin:"\
"${KREW_ROOT}/bin:"\
"${HOME}/.local/bin:"\
{{ if eq .chezmoi.os "darwin" -}}
"${HOME}/.orbstack/bin:"\
{{ end -}}
"${PATH}"

export EDITOR='{{ if eq .chezmoi.os "darwin" }}/opt/homebrew/bin/nvim{{ else }}/home/linuxbrew/.linuxbrew/bin/nvim{{ end }}'
export LC_ALL='en_US.UTF-8'
export LESSHISTFILE='/dev/null'

export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1

if [ -e "${XDG_CONFIG_HOME}/dircolors" ]; then
	eval "$(dircolors ${XDG_CONFIG_HOME}/dircolors)"
fi
